* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 1em;
  background: #cfd8dc;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  width: fit-content;
}

li {
  list-style: none;
  display: grid;

  grid-template-areas:
    "label   ."
    "textbox checkbox";

  grid-template-columns: 350px min-content;
  column-gap: 0.5em;

  margin: 1em 0.5em;
}

label {
  grid-area: label;
  align-self: end; /* bottom */
  justify-self: start; /* left */
}

input[type=checkbox] {
  grid-area: checkbox;

  width: calc(1.5em + 6px);
  height: calc(1.5em + 6px);
  margin: 0;

  align-self: center;
  justify-self: center;

  accent-color: #0288d1;
}

input[type=text] {
  grid-area: textbox;
  height: 1.5em;

  padding: 12px 4px;
  outline: none;
  border: 2px inset #b0bec5;
  border-radius: 4px;
  background: #b0bec5;

  &:focus-visible {
    background: #90a4ae;
    border-color: #90a4ae;
  }
}
